<a href="https://colab.research.google.com/github/Shruthi341/Raptor/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
x=10
if(x>15):
  print("Hello")
else:
 print("bye")

bye

# example 2

In [18]:
x=10
if(x<15):
  print("gud mrng")
elif(x==15):
  print("gud aftn")
else:
  print("gud ngt")

gud mrng

# ex:3

In [20]:
x=30
y=20
if(x>y):
  print("x is greater")
else:
 print("y is greater")

x is greater

# ex:4

In [25]:
x=9
y=10
if(x==y):
  print(x*x)
else:
  print(x*y)

90

# ex:5

In [28]:
x=-9
if(x==0):
  print("x is zero")
elif(x<0):
  print("x is negative")
else:
  print("x is positive")

x is negative

# ex:6

In [30]:
n=1
while(n<=10):
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

**# Loop Statement: While**
Syntax:

# ex:7

In [31]:
n=-22
while(n>=-45):
  print(n)
  n=n-1

-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45

# ex:8

In [33]:
x=input("enter num1")
y=input("enter num2")
if(x>y):
  print("x is greater")
else:
  print("y is greater")

enter num154
enter num265
y is greater

# ex:9

In [35]:
x=10
while(x>=1):
     print(x)
     x=x-1

10
9
8
7
6
5
4
3
2
1

# ex:10
Print sum of even numbers btwn 1-100

In [40]:
n=1
while(n<=100):
  if(n%2==0):
    print(n)
  n=n+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# ex:11

In [45]:
x=int(input("Enter 1 no:"))
y=int(input("ENTER 2 NO:"))
sum=0
while(x!=y):
  if(x%2==0):
    sum=sum+x
  x=x+1
print(sum)

Enter 1 no:2
ENTER 2 NO:16
56

# ex:12

print number from right

In [48]:
x=int(input("Enter a no."))
while(x!=0):
  r=x % 10
  print(r)
  x = x // 10

Enter a no.143
3
4
1

# ex:13

Print sum of even numbers in digit

In [51]:
x=int(input("Enter a no.:"))
sum=0
while(x!=0):
  r=x % 10
  if(r%2==0):
    sum=sum+r
  x = x // 10
print(sum)

Enter a no.:315
0

# ex:14

Print respective name to digit

In [59]:
x=int(input("Enter a no."))
while(x!=0):
  r=x % 10
  if(r==0):
    print("Zero")
  elif(r==1):
    print("One")
  elif(r==2):
    print("Two")
  elif(r==3):
    print("Three")
  elif(r==4):
    print("Four")
  x= x // 10

Enter a no.1234
Four
Three
Two
One

# ex:15

How many times the digit is repeated btwn 2 numbers

In [61]:
n=int(input("Enter a digit to find"))
x=int(input("Enter a higher limit"))
y=int(input("Enter a lower limit"))
c=0
while(x!=y):
  t=x
  while(x!=0):
    r=x%10
    if(r==n):
      c=c+1
    x=x//10
  x=t
  x=x+1
print(c)

Enter a digit to find2
Enter a higher limit120
Enter a lower limit130
11

## Functional Programming in Phyton

def functionName(Parameters):
    

*   Function in python starts with def(keyword)
*   Syntax:
                def functionName(Parameters):
                                      Tasks

# ex:1

*FUNTIONAL PROGRAM TO PRINT THE  N NATUTAL NUMBERS*

In [0]:
def printNaturalNumbers(n):
  cnt=1
  while(cnt<=n):
    print(cnt,end=" ")
    cnt=cnt+1
  print()
  return
printNaturalNumbers(9)

1 2 3 4 5 6 7 8 9

# ex:2

*Print factorial *

In [75]:
def findFact(n):
  fact=1
  while(n!=0):
    fact=fact*n
    n=n-1
  return fact
print(findFact(6))
print(findFact(10))

720
3628800

# ex:3

Print number is Palindrome

In [85]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    r=n%10
    rev=rev*10+r
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:151
The number is a palindrome!

Print number of palindrome btwn limits

In [4]:
def countOfPalindrome(n1,n2):
    cnt=0
    
    while(n1!=n2):
      rev=0
      temp=n1
      while(n1>0):
        r=n1%10
        rev=(rev*10)+r
        n1=n1//10
      if(temp==rev):
        cnt=cnt+1
      n1=temp
      n1=n1+1
    return(cnt)
print(countOfPalindrome(10,30))

2