<a href="https://colab.research.google.com/github/Shruthi341/Raptor/blob/master/Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Boolean Method**

**islower( )** --  method returns output either true or false

**isupper()**

**isnumeric()**

**isalpha()**

**istitle()**

**isspace()**

In [0]:
s = "Python is Easy and intresting"
s1 = 'python'
print(s.islower())
print(s1.islower())

False
True

In [0]:
s = "Application"
s1 = 'ANIL'
print(s.upper())
print(s.isupper())
print(s1.isupper())

APPLICATION
False
True

In [0]:
a = "application22"
a1 = "1234"
print(a.isalpha())
print(a.isnumeric())
print(a1.isalpha())
print(a1.isnumeric())

False
False
False
True

In [0]:
a = "Aplication Fm"
print(a.istitle())

True

# String Methods



*   join()
*   split()

In [0]:
print(",".join(["Python","Programming","Course"]))

Python,Programming,Course

In [0]:
lst = ["",""]
print(",".join(lst))
str ="Python"
print(" ".join(str))
str ="Python"
print(",".join(str))

,
P y t h o n
P,y,t,h,o,n

In [0]:
s = "Python is easy to learn "
print(s.split("e"))
print(s.split())

['Python is ', 'asy to l', 'arn ']
['Python', 'is', 'easy', 'to', 'learn']

In [0]:
s1 = "Shruthi is a good girl"
lit=s1.split()
#list=s1.index("shu")
print(lit.index("is"))
print(s1.index("is"))

1
8

# Pyhton -- Tuples

A tuple of seq of set of objects is like list only 

The difference of list and tuples are , the tuples cannot unlike list 

List will use square brackets hold objects [ ]


tuple will use parentheses to hold objects ()

In [0]:
t1 = ("Python","Programming","19000","7854","Machine Learning")
t2 = (1,2,3,4,5,)
print(t1)
print(t2)

('Python', 'Programming', '19000', '7854', 'Machine Learning')
(1, 2, 3, 4, 5)

In [0]:
t1 = ("Python","Programming","19000","7854","Machine Learning")
print("t1[0] =",t1[0])
print("t1[2]=",t1[2])
print("t1[2:-1]=",t1[2:-1])
print(t1)
del t1
t1 = ("ppp")
print(t1)

t1[0] = Python
t1[2]= 19000
t1[2:-1]= ('19000', '7854')
('Python', 'Programming', '19000', '7854', 'Machine Learning')
ppp

In [0]:
t1 = ("Python","Programming",19000,7854,"Machine Learning")
t2 = ("ppp","up")
t3 = t1 + t2
print(t3)

('Python', 'Programming', 19000, 7854, 'Machine Learning', 'ppp', 'up')

# Tuple Methods

**1.len(tuple)**  :- len of the tuple

**2.max(tuple)** :- return the max value from tuple

**3.min(tuple)** :- return the min value from tuple

In [0]:
t1 = ("Python","Programming",19000,7854,"Machine Learning")
print(len(t1))
t2 = (1,2,3,4,5,45,90,33,41)
print(max(t2))
print(min(t2))

5
90
1

In [0]:
t1 =(2,3,5,6)
t2 = (2,3,5,6)
print(t1)
print(t2)

(2, 3, 5, 6)
(2, 3, 5, 6)

In [0]:
user1 = {'Name':'Anil','Age':22,'EmailID':'anil@gamil.com','MobileNumber':'9909485770'}
print(len(user1))
user1['Address']='vkb'
print(len(user1))
user2=user1.copy()
print(user2)

4
5
{'Name': 'Anil', 'Age': 22, 'EmailID': 'anil@gamil.com', 'MobileNumber': '9909485770', 'Address': 'vkb'}

In [0]:
user1 = {'Name':'Anil','Age':22,'EmailID':'anil@gamil.com','MobileNumber':'9909485770'}
user2 = user1.copy()
print(user1.values())
print(user2.values())
print(user1.keys())

dict_values(['Anil', 22, 'anil@gamil.com', '9909485770'])
dict_values(['Anil', 22, 'anil@gamil.com', '9909485770'])
dict_keys(['Name', 'Age', 'EmailID', 'MobileNumber'])

# String Formatting

%s

In [0]:
lst = ['Python','Programming']
print("%s %s"%(lst[0],lst[1]))

Python Programming

In [0]:
contacts = {}
def addContact(name,phone):
  if name not in contacts :
    contacts[name] = phone
    print("Contact %s added " % name)
  else:
    print("Contact %s already exists" % name)
  return  
addContact("Anil",9859686891)
addContact("Srikanth",8008091198)
addContact("Noddy",9859686654)

Contact Anil added
Contact Srikanth added
Contact Noddy added

In [0]:
def searchContact(name):
  if name in contacts:
    print(name, ": ",contacts[name])
  else:
    print(" %s does not exsits" % name)
  return
searchContact("Anil")
searchContact("Ajay")
searchContact("Srikanth")

Anil :  9859686891
 Ajay does not exsits
Srikanth :  8008091198

In [0]:
def importContacts(newContacts):
  contacts.update(newContacts)
  print(len(newContacts.keys()),"Contacts added succesfully")
  return
newContacts = {'Monkey':9048475675,'Donkey':89475634884}
importContacts(newContacts)

2 Contacts added succesfully

In [0]:
print(contacts)

{'Anil': 9859686891, 'Srikanth': 8008091198, 'Noddy': 9859686654, 'Monkey': 9048475675, 'Donkey': 89475634884}

In [0]:
def deleteContact(name):
  if name in contacts:
    del contacts[name]
    print(name,": is deleted from th contacts")
  else:
    print(name," is not exists in the contacts")
  return
deleteContact("Anil")
deleteContact("Pig")

Anil  is not exists in the contacts
Pig  is not exists in the contacts

In [0]:
print(contacts)

{'Srikanth': 8008091198, 'Noddy': 9859686654, 'Monkey': 9048475675, 'Donkey': 89475634884}

In [0]:
def updateContact(name,phone):
  if name in contacts:
    contacts[name] = phone
    print(name,": is updated with new no.")
  else:
    print(name," : is not exists in the contacts")
  return
updateContact("Noddy",9897463623)
updateContact("Pig",6674940220)

Noddy : is updated with new no.
Pig  : is not exists in the contacts

# Pakages and Modules
**Sub Packages** :-Its part of Main Package
****