<a href="https://colab.research.google.com/github/Shruthi341/Raptor/blob/master/Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Binary search

->SORTED ORDER

  mid = (l + h)/2
  
   if(a[i]==mid)  -> print
   
   else check required no. greater or less than mid


 `  if(a[i]<mid) `
   
         high = mid-1
              

  elif(a[i]>mid) 
            
         low = mid +1

In [0]:
def binarySearch(a,low,high,item):
  while(low<=high):
    mid=low+(high-low)//2
    if a[mid]==item:
        return mid
    if a[mid]< item:
      low=mid+1
       
    else:
      high=mid-1
  return -1
list1=[1,2,4,6,34,67,89,90]
res = binarySearch(list1,0,7,23)
if(res!=-1):
  print("item is found")
else:
  print("item is not found")

item is not found

**Bubble sort**

In [0]:
def bubbleSort(b):
    n = len(b)
 
    
    for i in range(n):
 
       
        for j in range(n-i-1):
 
           
            if b[j] > b[j+1] :
               t=b[j]
               b[j]=b[j+1]
               b[j+1]=t
    for i in range(len(b)):
       print (b[i],end=" ")  
      
list1   = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(list1)

11 12 22 25 34 64 90

# Strings in Python

In [0]:
#creating a string
str ="Application"
print(str)
str1 ='Program'
print(str1)
str2=""" Application Test
         working 
         Completed
         List
         String 
         Python"""
print(str2)

Application
Program
 Application Test
         working
         Completed
         List
         String
         Python

In [0]:
str ="Application"
print(str)
print("str[0] =",str[0])
print("str[1]=",str[1])
print("str[-1]=",str[-1])
print("str[-3]=",str[-3])
print("str[1:5]=",str[1:5])
print("str[5:-2]=",str[5:-2])
print("str[-7:-4]=",str[-7:-4])
print("str[::-1]=",str[::-1])#reverse

Application
str[0] = A
str[1]= p
str[-1]= n
str[-3]= i
str[1:5]= ppli
str[5:-2]= cati
str[-7:-4]= ica
str[::-1]= noitacilppA

**PALINDROME STRING**

In [0]:
def isPalindrome(s):
  if s== s[::-1]:
    return True
  else :
    return False
print(isPalindrome("Python"))
print(isPalindrome("salas"))

False
True

**COUNT THE NO. OF DIGITS**

In [0]:
n=int(input("Enter a no."))
cnt =0
while n!=0:
  cnt = cnt +1
  n= n//10
print(cnt)

Enter a no.1234
4

**COUNT NO. OF CHARACTERS**

In [0]:
def countchar(str):
  return len(str)
countchar("shruthi Goud")

12

**Covert the string into Upper Case**

In [0]:
string = "this should be uppercase!"
print(string.upper())
str = "SHRUTHI"
print(str.lower())

THIS SHOULD BE UPPERCASE!
shruthi

**Lenght of list**

In [0]:
def count(str):
  list1 = list(str)

  print(len(list1))
count("apple")

5

**Count Upper Case**

In [0]:
def countUpperCase(str):
  cnt = 0
  lst = list(str)
  for x in range(len(lst)):
    if ord(lst[x]) >=65 and ord(lst[x])<=90:
      cnt = cnt +1
  return  cnt
print(countUpperCase("AppLICatIon"))

5

**Print digits **

In [0]:
def printDigits(str):

  lst = list(str)
  for x in range(len(lst)):
    if ord(lst[x])>=48 and ord(lst[x])<=57:
      print(lst[x],end="")
 
    
printDigits("Application1889")

1889

**Strings----Add the digits

In [0]:
def sumofDigits(str):
  sum=0
  lst=list(str)
  for x in range(len(lst)):
    if ord(lst[x])>=48 and ord(lst[x])<=57:
      sum=sum+ord(lst[x])-48
  return sum
sumofDigits("Application1889")

26

**Strings---Add digits of even**

In [0]:
def sumofDigits(str):
  sum=0
  lst=list(str)
  for x in range(len(lst)):
    if ord(lst[x])>=48 and ord(lst[x])<=57:
      if(ord(lst[x])%2==0):
        sum=sum+ord(lst[x])-48
  return sum
sumofDigits("Application1889fghjt235ws;leo03968;alsdkgo109238")

42

In [0]:
x = "foo "
y = 2
print(x+y)

TypeError: ignored