<a href="https://colab.research.google.com/github/Shruthi341/Raptor/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ex 1:

**Factors list of given number**

In [0]:
def facList(n):
  i=1
  while(i!=n):
    if(n%i==0):
      print(i)
    i=i+1 
  return
facList(12)

1
2
3
4
6

# ex2:

**List in Python**

[item1,item2,.....item N]

**ex:**
List1=[1,2,3]

List2=["a","b"]

In [0]:
list1 = [1,2,3,4,5,6,7]
print(list1)
print(list1[0])
print(list1[4])
print(list1[3:6])
print(list1[:3])
print(list1[:7])

[1, 2, 3, 4, 5, 6, 7]
1
5
[4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

# for Loop

**Syntax**

     for<variableName> in <seq>
        
           <statements>

In [0]:
list2 = ["Sangeetha","Shruthi","Sirisha","Sakruthi"]
for x in list2:
  print(x)
print(list2[1])

Sangeetha
Shruthi
Sirisha
Sakruthi
Shruthi



---

In [0]:
list2 = ["Sangeetha","Shruthi","Sirisha","Sakruthi"]
print(list2)
print(list2[1])
print(list2+list1)
list2[0]=12
del list2[3]
list2

['Sangeetha', 'Shruthi', 'Sirisha', 'Sakruthi']
Shruthi
['Sangeetha', 'Shruthi', 'Sirisha', 'Sakruthi', 1, 2, 3, 4, 5, 6, 7]

[12, 'Shruthi', 'Sirisha']



---

In [0]:
list1 = [1,2,3,4,5,6,7]
for x in list1:
  print(x,end=" ")
  
print()  
print(list1[1:-1])
print(list1[1:-2])
print(list1[-4:-1])
print(list1[::3])
print(list1[::2])
print(list1[-2])

1 2 3 4 5 6 7
[2, 3, 4, 5, 6]
[2, 3, 4, 5]
[4, 5, 6]
[1, 4, 7]
[1, 3, 5, 7]
6



---

In [0]:
print(len(list1))
list1.append(15)
list1.append(150)
list1.append(1)
print(list1)
print(list1.count(1))

10
[1, 2, 3, 4, 5, 6, 7, 15, 150, 1, 15, 150, 1]
3

# List with range() function

range(number):

**index(ojb)**

**insert(index,obj)**

In [0]:
list1 = ["Gitam","Python","Raptor",1,5,"Python"]
print(list1)
print(list1.index(5))
print(list1.index("Python"))
print(len(list1))
list1.insert(2,2004)
print(list1)
list1.remove("Gitam")
print(list1)
del list1[1]
print(list1)
list1.reverse()
list1

['Gitam', 'Python', 'Raptor', 1, 5, 'Python']
4
1
6
['Gitam', 'Python', 2004, 'Raptor', 1, 5, 'Python']
['Python', 2004, 'Raptor', 1, 5, 'Python']
['Python', 'Raptor', 1, 5, 'Python']

['Python', 5, 1, 'Raptor', 'Python']

# Linear search

**applied on sorted list/unsorted**

In [0]:
def linearSearch(a,item):
  temp=0
  for i in range(len(a)):
    if(a[i]==item):
      temp=1;
      break
  if(temp!=0):
    print("item is found")
  else:
    print("item is not found")
a=[1.23,45,9,5,11]
linearSearch(a,22)

item is not found

In [0]:
def linearSearchDuplicate(a,item):
  temp = 0
  for i in range(len(a)):
    if(a[i]==item):
      temp=temp+1;
      break
  print(temp)
a=[9,1,0,34,8,16,23]
linearSearchDuplicate(a,9)

1

# ex2:

In [0]:
def linearSearchDuplicate(a,item):
  temp = 0
  count =0
  for i in range(len(a)):
    if(a[i]==item):
      print(i) 
a=[9,1,0,34,8,9,16,23]
linearSearchDuplicate(a,9)

0
5

# Linear Search ex3:

input : a List

Output: a seq of Characters

Test Cases;
[1,5,9,6,5,15,12,5],tar = 5

In [0]:
def linearSearchDuplicate(a,item):

  
  for i in range(len(a)):
    if(a[i]==item):
      j=0
      while(j!=i+1):
        print("!",end="")
        j=j+1
      print()
     
a=[9,1,0,34,8,9,16,23]
linearSearchDuplicate(a,9)

!
!!!!!!

# ex:4

Input : List

Output:Sum of list of perfect multiple of 3 and 5

In [87]:
def linearSum(a):
  sum=0
  for i in range(len(a)):
    if((a[i]%3==0)and(a[i]%5==0)):
      sum=sum+a[i]
  print(sum)  
      
a=[9,3,5,67,15,45,60] 
linearSum(a)

120

In [0]:
def linearFormattedOutput(a):
  for i in range(len(a)):
    if i==0 or